.footer {
    position: relative;
    padding: 48px 24px 24px;
    z-index: 1000;
    overflow: hidden
}

.footer-content {
    max-width: 1400px;
    margin: 0 auto 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    font-weight: 400
}

.footer-section h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 7px
}

.footer-section p {
    color: var(--color-muted);
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400
}

.footer-section a {
    display: flex;
    align-items: center;
    color: var(--color-muted);
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
    transition: color .2s;
    font-weight: 400
}

.footer-section a:hover {
    color: var(--color-muted)
}

.social-links {
    display: flex;
    flex-direction: column;
    font-weight: 400
}

.footer-bottom {
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--color-muted);
}

.footer-bottom p {
    color: var(--color-muted);
    font-size: 0.8rem;
    font-weight: 400
}