html {
    background: var(--color-bg);
    height: 100%;
}

body {
    background: var(--color-bg);
    min-height: 100%;
    min-height: 100dvh;
}

main {
    padding-left: var(--safe-left);
    padding-right: var(--safe-right);
}

.nav {
    padding-left: var(--safe-left);
    padding-right: var(--safe-right);
}

.footer {
    padding-left: var(--safe-left);
    padding-right: var(--safe-right);
}

@supports (-webkit-touch-callout: none) {

    html,
    body {
        background-color: var(--color-bg);
    }
}
